.menu {
  background-color: var(--darkgrey);
  height: 7vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3.5vh;
  position: absolute;
  bottom: 0;
  z-index: 1;
}