.menu {
  background-color: var(--darkgrey);
  height: 7.1vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 3.5vh;
  position: fixed;
  bottom: 0;
  z-index: 1;
}