.menu {
  background-color: var(--darkgrey);
  /* min-height: fit-content; */
  height: 7vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3vh;
  position: fixed;
  bottom: 0;
  z-index: 11;
}