.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vw;
  background-color: var(--bg-color);
  max-height: 75px;
}

.navbar button {
  background: var(--grey);
  width: 14vw;
  height: 7vw;
  max-height: 45px;
  max-width: 90px;
  font-size: 0.85rem;
  font-weight: 700;
}
.navbar .active {
  background: var(--secondarygreen);
  color: white;
}

.imageContainer {
  display: flex;
  flex-direction: row-reverse;
}