.main {
  margin: 1vh;
  height: 100%;
  color: var(--secondarygreen);
}

.disconnected {
  padding-top: 0.5vh;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: var(--red);
  color: white;
  font-weight: bold;
}

.sunIconContainer{
  height: 12vh;
  width: 12vh;
  margin: auto;
  margin-top: 5vh;
}

.title {
  margin-top: 2vh;
  text-align: center;
  font-family: 'Mulish-Bold';
  font-size: 4.265vh;
  font-weight: 700;
}

.buttonChoice {
  display: flex;
  align-items: center;
  margin: 3vh auto 2vh;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0 25px;
  justify-content: space-between;
  height: fit-content;
  width: 85vw;
  padding: 1vh;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

.inputBox {
  height: fit-content;
  display: flex;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1vh;
  color: var(--font);
  margin: 0 5px;
}

.inputBox input {
  width: 100%;
  padding-left: 10px;
  margin-right: 5px;
  border-radius: 40px;
  border: 2px solid var(--secondarygreen);
  outline: none;
}

.sendButton {
  font-weight: 700;
  font-size: 14px !important;
  color: white;
  font-family: 'Mulish-regular';
  width: 26vw !important;
  padding: 4px;
  border: none;
  border-radius: 40px !important;
  background-color: var(--secondarygreen) !important;
}

.sendButtonContainer{
  height: 5vh;
  width: 5vh;
}
