.main {
  margin: 1vh;
  min-height: 74vh;
}

.title {
  margin-left: 2vh;
  margin-top: 4vh;
  font-family: 'Mulish-Bold';
  font-size: 4.5vh;
  font-weight: 700;
  color: var(--secondarygreen);
}

.user{
  display: flex;
  background-color: white;
  padding: 1vh;
  margin: 1vh 0;
  align-items: center;
}

.userInfo {
  padding: 0.5vh;
  margin-left: 2vh;
  font-size: 2vh;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userInfo2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8vh;
  margin-left: 2vh;
  font-size: 2vh;
}

.icon1 {
  height: 5vh;
  width: 5vh;
}

.icon2 {
  height: 5vh;
  width: 5vh;
}

.icon3{
  height: 5vh;
  width: 5vh;;
  margin-left: auto;
}
