.main {
  margin: 8px;
  min-height: 100vh;
}

.title {
  margin-top: 7vh;
  font-family: "Mulish-Bold";
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: var(--secondarygreen);
}

.otpVerify {
  font-weight: 600;
  font-size: 22px;
  color: var(--font);
}

.otpSent {
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
}

.pinInputField {
  text-align: center;
  border-radius: 50%;
  border: 1px solid darkgreen;
  width: 42px;
  height: 42px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.resendOTP {
  margin-top: 4vh;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resendOTP span {
  color: var(--font);
  font-size: 12px;
}

.resendOTP p {
  font-size: 14px;
  color: var(--secondarygreen);
}

.backButton {
  font-weight: 700;
  font-size: 14px !important;
  color: white;
  margin: 4vh auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Mulish-regular";
  width: 26vw !important;
  padding: 10px;
  border: none;
  border-radius: 40px !important;
  background-color: var(--darkgrey) !important;
}

.submitButton {
  font-weight: 700;
  font-size: 14px !important;
  color: white;
  margin: 4vh auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Mulish-regular";
  width: 26vw !important;
  padding: 10px;
  border: none;
  border-radius: 40px !important;
  background-color: var(--secondarygreen) !important;
}

.login {
  background-color: var(--darkgrey);
  color: white;
  text-align: center;
  padding: 26px 0px;
  border-radius: 50px 50px 0px 0px;
}
