.main {
  margin: 8px;
  min-height: 100vh;
}

.title {
  margin-top: 7vh;
  font-family: 'Mulish-Bold';
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: var(--secondarygreen);
}

.body {
  margin-top: 3vh;
  max-width: 80vw;
  margin: auto;
}

.body h1 {
  margin-top: 6vh;
  margin-bottom: 3vh;
  font-family: 'Mulish-Bold';
  font-size: 24px;
  font-weight: 700;
  color: var(--secondarygreen);
}

.body h3{
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-family: 'Mulish-Bold';
  font-size: 18px;
  font-weight: 700;
  color: var(--font);
}

.submitButton {
  font-weight: 700 ;
  font-size: 14px !important;
  color: white ;
  margin: 6vh auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Mulish-regular';
  width: 26vw !important;
  padding: 10px ;
  border: none ;
  border-radius: 40px !important;
  background-color: var(--secondarygreen) !important;
}

.backButton {
  font-weight: 700 ;
  font-size: 14px !important;
  color: white ;
  margin: 6vh auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Mulish-regular';
  width: 26vw !important;
  padding: 10px ;
  border: none ;
  border-radius: 40px !important;
  background-color: var(--darkgrey) !important;
}